NEXTJS_FRONTEND_URL=http://localhost:8236
NEXTJS_FRONTEND_EXPOSE_PORT=8236

NEXT_PUBLIC_DJANGO_BACKEND_URL=http://localhost:8237
DJANGO_BACKEND_EXPOSE_PORT=8237

# Postgres db expose port (DEV ONLY)
POSTGRES_DB_EXPOSE_PORT_DEV=5432

# MinIO object storage expose port (DEV ONLY)
MINIO_OBJECT_STORAGE_URL=http://localhost:9000
MINIO_API_EXPOSE_PORT=9000
MINIO_CONSOLE_EXPOSE_PORT=9001


DJANGO_SECRET_KEY='django-insecure-do5yv_73sc!$0q3pyomcfcovez(^p9be-91&p!6*j4&!s$s==)'
DJANGO_SECURE_COOKIE=1
DJANGO_DOCKER_CONTAINER_NAME=5005cmd-backend

# DB
POSTGRES_DATABASE_NAME=5005cmd-digital-asset-management
POSTGRES_DATABASE_USERNAME=root
POSTGRES_DATABASE_PASSWORD=root
POSTGRES_DATABASE_HOST=5005cmd-database
POSTGRES_DATABASE_PORT=5432

# MinIO Object Storage
MINIO_CONTAINER_NAME=5005cmd-object-storage
MINIO_BUCKET_NAME=5005cmd-bucket
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin

APP_DEFAULT_ADMIN_USERNAME=admin
APP_DEFAULT_ADMIN_PASSWORD=adminpassword