# NextJS frontend expose port
NEXTJS_FRONTEND_EXPOSE_PORT=8236

# Django backend expose port (DEV ONLY)
DJANGO_BACKEND_EXPOSE_PORT_DEV=8237

# Postgres db expose port (DEV ONLY)
POSTGRES_DB_EXPOSE_PORT_DEV=5432

# MinIO object storage expose port (DEV ONLY)
MINIO_API_EXPOSE_PORT_DEV=9000
MINIO_CONSOLE_EXPOSE_PORT_DEV=9001


DJANGO_SECRET_KEY='django-insecure-do5yv_73sc!$0q3pyomcfcovez(^p9be-91&p!6*j4&!s$s==)'

# DB
POSTGRES_DATABASE_NAME=5005cmd-digital-asset-management
POSTGRES_DATABASE_USERNAME=root
POSTGRES_DATABASE_PASSWORD=root
POSTGRES_DATABASE_HOST=5005cmd-database
POSTGRES_DATABASE_PORT=5432

# MinIO Object Storage
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin

APP_DEFAULT_ADMIN_USERNAME=admin
APP_DEFAULT_ADMIN_PASSWORD=adminpassword